:root {
  --primary-color: #00fff7;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #b700ff;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #b217d1;
}

.container {
  margin: 0 auto;
  max-width: auto;
  display: flex;
  padding-top: 160px;
}
.container-text {
  display: flex;
  justify-content: right;
}
.container-img {
  position: relative;
  align-items: left;
  justify-content: left;
}

.girl {
  width: 600px;
  height: auto;
  display: block;
  border: 8px solid rgb(174, 132, 214);
  border-radius: 50% 50% 50% 50%;
  box-shadow: var(--box-shadow);
}
hr {
  display: inline-block;
  border-left: 1px solid rgb(145, 139, 139);
  margin: 0 10px;
  height: 125px;
}

h1,
h2,
h3 {
  display: flex;
}

h1 {
  font-size: 5.5rem;
  letter-spacing: 10px;
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  font-size: 3rem;
  justify-content: center;
  align-items: end;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  justify-content: center;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.container-button {
  display: flex;
  justify-content: center;
}
button {
  border-radius: 20px !important;
  padding: 18px !important;
  box-shadow: var(--box-shadow) !important;
  border: 3px solid rgb(174, 132, 214) 700 !important;
  background-color: rgb(174, 132, 214) !important;
  color: rgb(26, 22, 22) !important;
  margin-bottom: 3rem;
}
button:hover {
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  ) !important;
}
@media (max-width: 820px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
    color: black;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .featured-img {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  button,
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .featured-img {
    display: none;
  }
}
section {
  margin: 0px auto;
  padding: 100px 0px;
  max-width: 1000px;
}
.heading {
  background-color: var(--secondary-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 50px;
  margin-top: 30px;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.icons {
  font-size: 45px;
  display: flex;
  justify-content: space-evenly;
  color: #b217d1;
  margin-top: 15px;
  opacity: 50%;
}
#projects {
  padding: auto;
  display: flex;
  width: 50%;
  height: 50%;
}
.project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.weather-app,
.mythologycal {
  margin: 1rem;
  background-color: var(--primary-color);
  border-radius: 18px;
  color: inherit;
  position: relative;
  transition: all 0.5s ease-out;
  padding-right: 25%;
  padding-left: 25%;
  padding-bottom: 20%;
  padding-top: 2%;
}

.project-description {
  box-shadow: 0 10px 30px -13px;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 18px;
  background-color: var(--secondary-color);
  text-decoration-skip-ink: auto;
  color: black;
}

.carousel-caption {
  color: #171717 !important;
  text-align: center;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 100px;
  margin-top: -50px;
  color: #fff;
}
.project-link {
  display: block;
  text-align: center;
  margin: 0 20px;
  text-decoration: none;
  color: black;
}
.d-md-block {
  display: block !important;
  padding-bottom: 5% !important;
}
