:root {
  --primary-color: #00fff7;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --main-font-family: --bs-font-sans-serif;
}

.navbar-toggler {
  border: 0 !important;
  background-color: #00fff7 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #00fff7;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #b217d1;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  padding-top: 160px;
}
.container-text {
  display: flex;
  justify-content: right;
}
.featured-img {
  position: relative;
  align-items: left;
  justify-content: left;
}

img {
  width: 600px;
  height: auto;
  display: block;
  border: 8px solid rgb(174, 132, 214);
  border-radius: 50% 50% 50% 50%;
  box-shadow: var(--box-shadow);
}

body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: rgb(255, 255, 255);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
  padding: auto;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.container-button {
  display: flex;
  justify-content: center;
}
button {
  border-radius: 40px !important;
  background-color: var(--primary-color) !important;
  padding: 15px !important;
  box-shadow: var(--box-shadow);
  border-color: var(--secondary-color) !important;
}

@media (max-width: 820px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .featured-img {
    display: none;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }

  button,
  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .featured-img {
    display: none;
  }
}
