:root {
  /* Colours */
  --white: #ffffff;
  --background-dark: #141e30;
  --background-light: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  --text-dark: rgb(121, 127, 148);
  --text-darker: rgb(76, 87, 121);
  --text-darkest: rgb(23, 31, 58);
  --text-light: #b7c7d8;
  --text-lighter: #f0f6fc;
  --text-lightest: #ffffff;
  --primary-light: #d4e3fa;
  --primary: #1a2940;
  --primary-dark: #111b2b;
  --secondary: #ff5d4b;
  --secondary-light: #f97c6f;
  --gradient-primary: linear-gradient(
    to bottom right,
    #0f2d54 0%,
    #53789561 100%
  );
  --gradient-secondary: linear-gradient(
    to right,
    #eb3349 0%,
    var(--secondary) 51%,
    #eb3349 100%
  );
  --padding-desktop: 5rem 10rem;
  --padding-mobile: 5rem 2rem;
  --font-body: "DM Sans", sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  --margin-xs: 0.25rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 2rem;
  --margin-xl: 4rem;
  --fs--xxs: 1rem;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 2.3rem;
  --fs-xl: 3rem;
  --hs-xs: 1.5rem;
  --hs-sm: 2rem;
  --hs-md: 3rem;
  --hs-lg: 4.5rem;
  --hs-xl: 6.5rem;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background-dark);
}
.navbar-toggler {
  border: 0 !important;
}

.nav-item {
  padding: 15px;
  animation: fadeIn 0.8s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  font-size: var(--hs-xl);
  display: block;
  margin-bottom: var(--margin-sm);
  color: var(--secondary);
}
.nav-item:hover {
  color: var(--secondary-light);
}

.nav-item:hover::after {
  width: 60%;
}

.nav-link {
  display: flex;
  justify-content: flex-end;
  font-size: var(--fs-md);
  padding-left: 15px;
}

.nav-item--icon {
  font-size: var(--fs-lg);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-light);
  text-align: center;
}
.navbar-expand-lg .navbar-nav {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: var(--fs-md);
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s ease;
  transition: color 0.15s ease-in-out;
  background-color: 0.15s ease-in-out;
  border-color: 0.15s ease-in-out;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--text-lightest);
  background-color: transparent;
}
small,
a {
  font-size: var(--fs-sm);
  color: var(--text-lightest);
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--text-lighter) !important;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: var(--text-lighter);
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  padding: var(--padding-mobile);
}

.content {
  height: 100%;
  width: 100%;
  z-index: 10;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--margin-xl);
  width: 100%;
  max-width: 50rem;
  overflow: hidden;
  border-radius: 15px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  background-image: var(--gradient-primary);
}

.project__text-container {
  width: 100%;
  max-width: 40rem;
  border-radius: 10px;
  order: 1;
  padding-bottom: 2rem;
}

.project__text-container:nth-of-type(even) {
  order: 2;
}

.project__text-container .project__heading {
  font-size: var(--hs-md);
  margin-bottom: var(--margin-md);
  color: var(--text-lightest);
}

.project__text-container .project__description {
  font-size: var(--fs-md);
  line-height: 1.5;
  margin-bottom: var(--margin-lg);
  color: var(--text-light);
}

.project__img-container {
  order: 2;
  width: 100%;
  max-width: 42rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0;
  border-radius: 10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  border: solid 8px var(--primary);
}

.project__img-container .project__img--desktop {
  position: relative;
  width: 100%;
  transition: all 0.6s ease;
}

.project__img-container .project__img--mobile {
  transition: all 0.6s ease;
  border-radius: 10px;
  position: absolute;
  border: solid 4px var(--primary);
  height: 80%;
  width: 23%;
  right: -2rem;
  bottom: -2rem;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.project__badge-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.project__badge-container .badge {
  font-size: var(--fs-xs);
  font-weight: 700;
  background-color: var(--primary-light);
  color: var(--text-darker);
  border-radius: 5px;
  padding: 0.25rem;
  margin: 0 1rem 1rem 0;
}

.project__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  padding-bottom: 2rem;
}

.icon-nav__item {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.icon-nav__link {
  font-size: var(--fs-lg);
  cursor: pointer;
  text-decoration: none;
  color: var(--text-light);
  text-align: center;
}

.icon-nav__title {
  opacity: 0;
  margin-top: 0.5rem;
  text-align: center;
  font-size: var(--fs-sm);
  font-weight: 500;
  transform: translateY(-25px);
  color: var(--text-lightest);
  margin: 0 auto;
  width: 100%;
}

.contact-icon.icon-nav {
  position: static;
}

.contact-icon.icon-nav__link {
  font-size: var(--fs-lg);
}

.contact-icon.icon-nav__title {
  font-size: var(--fs-sm);
}

@media (hover: hover) and (pointer: fine) {
  .icon-nav__link:hover .icon-nav__title,
  .icon-nav__link:focus {
    transition: all ease 0.5s;
    transform: translateY(10px);
    opacity: 1;
  }
  .icon-nav__link:hover .icon-nav__icon,
  .icon-nav__link:focus {
    transform: scale(1.1);
    transition: all ease 0.5s;
    color: var(--secondary);
  }
}

.btn,
.btn--landing,
.btn--contact,
.project__link {
  border-radius: 50px;
  text-align: center;
  font-family: var(--font-body);
  text-decoration: none;
  cursor: pointer;
  padding: 0.8rem 2rem;
  transition: all 0.3s ease-in-out;
}

.btn--landing {
  animation: fadeIn 0.75s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 1.5s;
  margin: 0;
  position: relative;
  font-size: var(--hs-sm);
  background-color: var(--secondary);
  color: #ffffff;
  background-size: 200% auto;
  background-image: var(--gradient-secondary);
}

.btn--landing i {
  position: relative;
  margin-top: 3px;
  margin-left: 8px;
  transition: all 0.2s ease-in-out;
  font-size: var(--hs-xs);
}

.btn--contact {
  width: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  font-size: var(--hs-sm);
  background-color: var(--secondary);
  color: #ffffff;
  background-size: 200% auto;
  background-image: var(--gradient-secondary);
  transition: all 0.3s ease-in-out;
}

.btn--contact i {
  position: relative;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
  font-size: var(--hs-xs);
}

.project__link {
  color: var(--text-lightest);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: var(--fs-md);
  text-decoration: none;
  cursor: pointer;
  padding: 0.3rem 1.2rem;
  transition: all 0.3s ease-in-out;
  background-size: 200% auto;
  background-image: var(--gradient-secondary);
}

.project__link i {
  transition: all 0.3s ease;
  font-size: 1rem;
  margin-left: 0.6rem;
}

.project__link--live {
  background-image: var(--gradient-secondary);
  margin-right: 2rem;
}

.project__link--repo {
  background-color: transparent;
  background-image: none;
  padding-left: 0;
}

@media (hover: hover) and (pointer: fine) {
  .btn--landing:hover,
  .btn--landing:focus {
    background-position: right center;
  }
  .btn--landing:hover i,
  .btn--landing:focus i {
    transform: translateX(3px);
  }
  .btn--contact:hover,
  .btn--contact:focus {
    background-position: right center;
  }
  .btn--contact:hover i,
  .btn--contact:focus i {
    transform: translateX(3px) rotate(30deg);
  }
  .project__link {
    transition: 0.5s;
  }
  .project__link:hover {
    background-position: right center;
  }
  .project__link:hover i {
    transform: translateX(3px);
  }
  .project__link--repo:hover span {
    text-decoration: underline;
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.about {
  background: var(--background-dark);
  padding: var(--mobile-padding);
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.about__text {
  color: var(--text-lighter);
  min-width: 30rem;
  margin-bottom: var(--margin-xl);
}

.about__heading {
  font-size: var(--hs-lg);
  margin-bottom: var(--margin-xl);
  position: relative;
  color: var(--secondary);
  flex-basis: 100%;
}

.about__heading::before {
  position: absolute;
  content: "About Me";
  color: var(--text-lightest);
  left: 5px;
}

.about__heading::after {
  position: absolute;
  content: "";
  width: 5rem;
  top: 6.5rem;
  height: 4px;
  border-radius: 0 1000px 1000px 0;
  left: 0;
  background: var(--secondary);
}

.about__paragraph {
  font-size: var(--fs-md);
  line-height: 1.5;
  margin-bottom: var(--margin-lg);
}

.about .profile {
  padding: 4rem 2rem 2rem 2rem;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin: 2rem auto;
  width: 100%;
  min-width: 30rem;
  max-width: 35rem;
  background-image: var(--gradient-primary);
}

.about .profile__subheading {
  font-size: var(--fs-md);
  margin-bottom: var(--margin-md);
  color: var(--text-lightest);
}

.about .profile__detail {
  position: relative;
  margin-left: 3rem;
  color: var(--text-light);
  font-size: var(--fs-md);
  line-height: 1.5;
}

.about .profile__detail::after {
  position: absolute;
  top: 50%;
  left: -1.75rem;
  content: " ";
  height: 2px;
  width: 8px;
  background-color: var(--secondary);
}

.about .profile__skills {
  flex: 1;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.about .profile__skills .skill-list {
  color: var(--text-light);
  display: inline-block;
  list-style: none;
}

.about .profile__skills .skill-item {
  font-size: var(--fs-md);
  line-height: 1.5;
  position: relative;
}

.about .profile__skills .skill-item i {
  margin-right: 1rem;
  display: inline-block;
  font-size: var(--fs-md);
  text-decoration: none;
  color: var(--secondary);
}

.contact {
  padding: var(--mobile-padding);
  background: var(--background-dark);
  text-align: center;
}

.contact__content {
  margin: 0 auto;
  max-width: 55rem;
}

.contact__heading {
  font-size: var(--hs-lg);
  margin-bottom: var(--margin-xl);
  color: var(--secondary);
  text-align: center;
  position: relative;
}

.contact__heading::before {
  position: absolute;
  content: "Contact Me";
  text-align: center;
  transform: translateX(5px);
  color: var(--text-lightest);
}

.contact__text {
  color: var(--text-lightest);
  font-size: var(--fs-md);
  line-height: 1.5;
  padding-bottom: var(--margin-xl);
}

.contact__text--email {
  display: block;
  font-size: var(--fs-md);
  transition: all linear 0.5s;
  text-decoration: none;
  color: var(--secondary);
}

.contact__text--email:hover {
  color: var(--secondary-light);
  text-decoration: underline;
}

.header {
  padding: 0 2rem;
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 8rem;
  max-width: 120rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header__logo {
  font-family: var(--font-body);
  font-weight: 800;
  font-size: var(--hs-md);
  display: flex;
  align-items: center;
  color: var(--secondary);
  order: -1;
  animation: fadeDown 1s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 0.2s;
  letter-spacing: 1px;
}

.header__logo::before {
  position: absolute;
  content: "FS.";
  color: var(--text-lightest);
  left: 2px;
  top: 1px;
}

.landing {
  position: relative;
  background-size: cover;
  background-position: top;
  background-color: var(--primary);
  background-image: url(media/background-image.jpg);
  width: 100%;
  overflow: hidden;
  background-size: cover;
  padding: var(--mobile-padding);
  height: 100vh;
}

.landing__content {
  position: relative;
  top: 20%;
  z-index: 1;
}

.landing__heading--intro {
  animation: fadeDown 0.6s;
  opacity: 0;
  animation-fill-mode: both;
  font-size: var(--fs-xl);
  font-weight: 300;
  color: var(--text-lighter);
  margin-bottom: var(--margin-lg);
}

.landing__heading--name {
  animation: fadeIn 0.8s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  font-size: var(--hs-xl);
  display: block;
  margin-bottom: var(--margin-sm);
  color: var(--secondary);
}

.landing__heading--name::before {
  position: absolute;
  content: "Florentina Simion.";
  color: var(--white);
  left: 5px;
  top: 2px;
}

.landing__subheading {
  font-size: var(--fs-xl);
  font-weight: 500;
  color: var(--text-lighter);
  margin-bottom: var(--margin-xl);
  animation: fadeInRight 1s;
  opacity: 0;
  animation-fill-mode: both;
  animation-delay: 1s;
}

.landing a {
  text-decoration: none;
}

.projects {
  padding: var(--mobile-padding);
  background: var(--background-dark);
  width: 100%;
  overflow: hidden;
}

.projects__heading {
  font-size: var(--hs-lg);
  margin-bottom: var(--margin-xl);
  color: var(--secondary);
  text-align: center;
  position: relative;
}

.projects__heading::before {
  position: absolute;
  content: "Projects";
  text-align: center;
  transform: translateX(5px);
  color: var(--text-lightest);
}

.projects__heading::after,
.contact__heading::after {
  position: absolute;
  content: "";
  width: 5rem;
  border: 2px solid var(--secondary);
  top: 6.5rem;
  height: 0;
  border-radius: 1000px;
  left: 50%;
  transform: translateX(-50%);
}

.projects__text {
  font-size: var(--fs-md);
  color: var(--text-lightest);
  line-height: 1.5;
  text-align: center;
  margin-bottom: var(--margin-lg);
}

.footer {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--primary-dark);
}

@media only screen and (min-width: 768px) {
  .project {
    margin-bottom: --margin-xl;
  }
  .project--tutorial {
    margin-bottom: var(--margin-lg);
    margin-left: 2rem;
  }
  .header {
    align-items: center;
    transition: none;
    left: 50%;
    transform: translateX(-50%);
  }
  .project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    padding: 4rem;
  }
  .project__text-container {
    padding: 2rem 2rem 0 0;
    margin-bottom: auto;
  }
  .project:nth-of-type(even) .project__text-container {
    order: 2;
    padding: 2rem 0 0 4rem;
  }
  .icon-nav {
    display: none;
  }
  .icon-navbar .icon-nav {
    display: flex;
  }
  .about__text {
    flex: 1;
    padding-right: 4rem;
    min-width: 45rem;
  }
  .about .profile {
    margin: 0;
  }
  html {
    font-size: 70%;
  }
  .nav-item--icon {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .project {
    margin-bottom: --margin-xl;
  }
  .project--tutorial {
    margin-bottom: var(--margin-lg);
    margin-left: 2rem;
  }
  .header {
    align-items: center;
    transition: none;
    left: 50%;
    transform: translateX(-50%);
  }
  .project {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    padding: 4rem;
  }
  .project__text-container {
    padding: 2rem 2rem 0 0;
    margin-bottom: auto;
  }
  .project:nth-of-type(even) .project__text-container {
    order: 2;
    padding: 2rem 0 0 4rem;
  }
  .icon-nav {
    display: none;
  }
  .icon-navbar .icon-nav {
    display: flex;
  }
  .about__text {
    flex: 1;
    padding-right: 4rem;
    min-width: 45rem;
  }
  .about .profile {
    margin: 0;
  }
  html {
    font-size: 70%;
  }
  .nav-item--icon {
    display: none;
  }
}
